@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eurofins Coding Task</h1>
    <p class="lead">To view the page that will display on screen the numbers from 1 to 100 (by default), but for multiples of 3 display “Three”, multiples of 5 display “Five” and for multiples of both 3 and 5 display “Eurofins”.  </p>
    <p><a href="~/Input/Index" class="btn btn-primary btn-lg">Click here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>My Experience</h2>
        <p>
            Here I talk about my experience of the project over the previous 2 weeks. The things I have learnt and found interesting as well those things I have found challenging.
        </p>
        <p><a class="btn btn-primary" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>View Data</h2>
        <p>
            Below is a link to the view data and the previous data submissions.
        </p>
        <p><a class="btn btn-primary" href="~/Input/Database">View &raquo;</a></p>
    </div>
</div>